.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.message-area {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.message {
  background-color: #123f21;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 8px;
  /* 長い単語が領域をはみださないように */
  word-break: break-word;
  max-width: 80%;
}

.my-message {
  background-color: #bd2424;
  align-self: flex-end;
}

.other-message {
  align-self: flex-start;
}

.input-area {
  display: flex;
}

.input-area button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

.input-area button:hover {
  background-color: #0056b3;
}
